
ul{
    list-style-type: none !important; 
    background-color: white !important;
    max-Width: 250px !important;
    font-size:18px !important;
}

li{
    margin:3px;
    padding:5px;
    border-radius:5%;
    padding-left: 20px;
    color:rgb(56, 50, 50);
}
li:hover{
    background-color: #E7E9ED;
    color: #0179BF
}
li:active{
    background-color: #E4F0F6;
    color: #0179BF
}
