
.nav{
    list-style-type: none;
    background-color: white;
    max-Width: 250px;
    font-size:18px;
    
}
li{
    margin:3px;
    padding:5px;
    border-radius:5%;
    padding-left: 20px;
}
li:hover{
    background-color: rgb(220, 241, 247);
    color: rgb(61, 179, 209)
}
