
ul{
    list-style-type: none !important; 
    background-color: white !important;
    max-Width: 250px !important;
    font-size:18px !important;
}

li{
    margin:3px;
    padding:5px;
    border-radius:5%;
    padding-left: 20px;
}
li:hover{
    background-color: rgb(220, 241, 247);
    color: rgb(61, 179, 209)
}
