.App {
  margin:0px;
  box-sizing: border-box;
  padding:0px;
  height:100vh;
}
.Link{
  text-decoration: none;
  
}
.content{
  display:flex;
  justify-content: space-around;
  margin-left:10%;
  margin-right:10%;
  margin-top: 3%;
}
.content .body{
  flex:2;
  margin-left:2%;
 
}
.content ul{
  flex:1;
}
::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}