.card{
    width:265px ;
    background-color: #F4F5F7 !important;
    min-height:75px ;
    margin-top:5px !important;
    margin-bottom:5px !important;
    margin-left: 10px !important;
    color:black;
  }
  .Dialog{
    min-height:50vh !important;
    max-height:50vh !important;
  }