.root{
      margin-top: top 5px;
      margin-right:5px;
      max-height:91vh;
      width: 300px;
      background-color: #ebecf0;
      border-radius:10;
      box-sizing: border-box;
  }
  .cards{
      width: 300px;
      max-height: 75vh;
      overflow:auto;
      background-Color:ebecf0;
      box-sizing: border-box;
  }
  .header2{
      width:100%;
      min-height:7vh;
      text-align: center;
      padding-top:10px;
      box-sizing: border-box;
  }
  .footer {
      width:100%;
      min-height:7vh;
      text-align: center;
  }
  

 
  